* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.main-header {
  position: sticky;
  top: 0;
  width: 100vw;
}

.main-header .container {
  background-color: lightgray;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5%;
}

.title {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.title-icon {
  width: 40px;
  margin-left: 10px;
}

a:link {
  text-decoration: none;
  color: black;
}

.main-nav {
  display: flex;
  align-items: center;
  position: relative;
}

.dropdown {
  width: 60px;
  height: 40px;
  background-color: #D3A4FF;
}

.nav-list {
  width: 100px;
  padding-left: 0;
  text-align: center;
  margin: 0;
}

.nav-list .close-btn {
  display: none;
}

.nav-list li {
  list-style-type: none;
  font-size: 1.5rem;
}

@media (max-width: 799px) {
  .nav-list {
    background-color: #FFF;
    position: fixed;
    top: 0;
    right: 0;
    width: 50vw;
    height: 100vh;
    box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-list .close-btn {
    display: block;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 2.5rem;
    width: 50px;
  }

  .nav-list li {
    margin-bottom: 20px;
  }

  .nav-list-display-none {
    display: none;
  }

  .close-btn:hover {
    cursor: pointer;
    background-color: #D0D0D0;
  }

  .dropdown:hover {
    cursor: pointer;
    background-color: #D200D2;
  }

}

.banner {
  background-color: skyblue;
  height: 25vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome {
  font-size: 2.5rem;
  transition: ease 0.5s;
}

.welcome:hover {
  cursor: pointer;
  font-size: 3rem;
  font-weight: bold;
  transition: ease 0.5s;
  background: linear-gradient(45deg, #FF2D2D 15%, #FF9224 30%, #F9F900 45%, #00DB00 60%, #0000E3 75%,	#AE57A4 90%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.main-container {
  width: 90%;
  margin: 20px auto;
  flex: 1;
}

.section-title {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.content-box {
  background-color: #9393FF;
  height: 150px;
  text-align: center;
  font-size: 1.5rem;
  padding: 10px;
  margin: 10px 0;
}

.call-to-action {
  height: 50px;
  width: 150px;
  font-size: 1rem;
  background-color: #C4E1FF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-to-action:hover {
  cursor: pointer;
  background-color: #2894FF;
}

@media (min-width: 500px) {
  .main-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .content-box {
    width: 48%;
  }
}

@media (min-width: 800px) {
  .nav-list {
    display: flex;
    width: auto;
  }

  .nav-list li {
    margin: 0 10px;
  }

  .dropdown {
    display: none;
  }
}

@media (min-width: 1200px) {
  .main-container {
    max-width: 1080px;
  }
}

.main-container-display-none {
  display: none;
}